$tie-at-home: cornflowerblue; // A little HIMYM joke; would have called it $banner-background otherwise.

.banner {
  display: flex;
  background-color: $tie-at-home;
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  color: white;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  .banner {
    margin-top: 120px;
    width: 100%;
  }
}