$tie-at-home: cornflowerblue;
$highlight: red;

nav {
  display:flex;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: $tie-at-home;
  color: #FFFFFF;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  span {
    display: flex;
    margin: 1.5em;
    font-family: Bungee, sans-serif;   
   }
  
   .right {
     // not a nested item inside the span above as there are two spans
     font-family: Source Sans Pro, sans-serif;
     text-align: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
     div:hover {
       cursor: pointer;
       color: $highlight;
      }
    } 
      
 }








