nav {
  display: flex;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: cornflowerblue;
  color: #FFFFFF;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
nav span {
  display: flex;
  margin: 1.5em;
  font-family: Bungee, sans-serif;
}
nav .right {
  font-family: Source Sans Pro, sans-serif;
  align-items: flex-end;
  text-align: center;
  display: flex;
  justify-content: baseline;
}
nav .right .expand div:hover {
  cursor: pointer;
  color: red;
}
