.new-tweet {
  background: #b5dfaf;
  padding-top: 5px;
  margin-top: 20px;
}
.new-tweet form {
  width: 90%;
}
.new-tweet #tweet-text {
  margin-left: 5%;
  background: #b5dfaf;
  width: 100%;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}
.new-tweet div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 4.5%;
  margin-right: 5%;
  width: 100%;
  padding: 5px;
}
.new-tweet button {
  display: flex;
  background-color: cornflowerblue;
  font-family: Bungee, sans-serif;
  color: white;
  justify-content: left;
}
.new-tweet .counter {
  display: flex;
  text-align: right;
  color: #545149;
  justify-content: flex-end;
}
.new-tweet .errorShort {
  color: red;
}
.new-tweet .errorLong {
  color: red;
}
